*:focus {
    outline: 0;
}

body div#content.container {
  padding: 10px 0px;
}

#main-content p{font-size: 14.5px;}
#main-content ul li, .main-content ul li, address{font-size: 14.5px;}

/*Navigation Styling*/
/*Displays list items on hover*/
#primary-nav li.parent:hover ul.children{display: block;}
/*Prevents sub lists from displaying*/
#primary-nav li.parent:hover ul.children li ul{display: none;}
/*Shows sub lists on parent list item hover*/
#primary-nav li.parent:hover ul.children li:hover ul{display: block;margin-left: 202px;margin-top: -47px;}
#primary-nav li.parent:hover ul.children li:first-child:hover ul{display: block;margin-left: 202px;margin-top: -46px;min-height: 40px;}

/*Gives sub lists full border styling*/
#primary-nav li.parent ul.children li ul{border: 3px solid #D7DEF0;font-size: 15px;}

/*Gives sub lists at the very top border styling*/
#primary-nav li.parent ul.children li:first-child ul{border-left: 3px solid #D7DEF0;border-bottom: 3px solid #D7DEF0; border-right: 3px solid #D7DEF0; border-top: none;}

/*Fixes additional borders on secondary ul list items*/
#primary-nav .parent li.current_page_item .children li {
 border-top: none;
border-bottom: none;
}

#primary-nav .parent li.current_page_item .children li a{
background-color: #284ea0;
color: white;
}

#primary-nav .parent li.current_page_item .children li a:hover{
background-color: #243778;
color: white;
}

/*Displays dropdown arrow on list items with children*/
#primary-nav ul.children li.page_item_has_children a:after  {
color: #6e89ca;
font-family: fontAwesome;
content: "";
text-align: right !important;
padding-left: 100%;
float: left;
margin-top: -13px;
background: url('../images/bg-dropdown-icon-rgt.png');
background-repeat: no-repeat;
background-position: right center;
height: 10px;
width: 10px;
}

/*Fixes arrows on dropdown items with children in IE10 */
body[data-useragent*='MSIE 10.0'] #primary-nav ul.children li.page_item_has_children a:after{
 background-position: 95% 0px;
 height: 40px;
}

/*Prevents secondary lists from having a dropdown icon as well*/
#primary-nav ul.children li.page_item_has_children:hover ul li a:after{background-image: none;}
#primary-nav ul.children li.page_item_has_children ul li a:after{background-image: none;}


#header-title-text sup{font-size: .6em;}

.main-banner{padding-top: 1px !important;}

.main-banner .main-banner-meta h1 {
     background-color: rgba(255,255,255,0.5);
     color: #243777;
     font-family: 'ufshands', Arial, sans-serif;
     padding: 10px;
  }

.main-banner .main-banner-meta h1 sup{font-size: .6em;}

/*Main Banner Form*/
.main-banner .main-banner-form {background-color: #243777;}
.main-banner-form div.banner-form-div{padding-top: 10px}
.main-banner-form h4{color: #fff;font-size: 2em;margin-bottom: .2em;text-align: center;}
.main-banner-form h6{color: #fff;font-size: 1.1em;text-align: center;}

.main-banner-form ul{
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

.main-banner-form input, .main-banner-form textarea {border: 1px solid white; color: #888;font-family: 'ufshands',Arial,sans-serif; font-size: 15px; margin-bottom: 10px;padding: 10px 5px; width: 100%;}

/*Fixes banner form styling issues in IE10*/
body[data-useragent*='MSIE 10.0'] .main-banner-form ul{
    margin: 0 2.5em 1.5em 0;
    padding: 0 0 0 1.5em;
    width: 100%;
}
body[data-useragent*='MSIE 10.0'] .main-banner-form ul li{
  margin-right: 30px;
}
body[data-useragent*='MSIE 10.0'] .main-banner-form ul li input[type=text], body[data-useragent*='MSIE 10.0'] .main-banner-form ul li input[type=email]{
  width: 93%;
}

/*Prevents the last two list items (the select dropdown and the submit button) from having a margin-right*/
body[data-useragent*='MSIE 10.0'] .main-banner-form ul li:nth-child[5], body[data-useragent*='MSIE 10.0'] .main-banner-form ul li:nth-child[4]{
  margin-right: 0px;
}

body[data-useragent*='MSIE 10.0'] .main-banner-form select.half#interest{width: 47%;}
body[data-useragent*='MSIE 10.0'] .main-banner-form input.half[type=submit]{width: 42%;}

.main-banner-form select{
     background-image: url('../images/dropdown.jpg');
    background-position: 95%;
    -o-background-size: 10px auto;
    -webkit-background-size: 10px auto;
    -moz-background-size: 10px auto;
     background-size: 10px auto;
     background-repeat: no-repeat;
     -moz-appearance: none;
     -webkit-appearance: none;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     -o-border-radius: 0px !important;
     border-radius: 0px !important;
     border: 1px solid white;
     color: #888;font-family: 'ufshands',Arial,sans-serif;
     font-size: 15px;margin-bottom: 10px;padding: 10px 5px; width: 100%;
}

#mandatory_form select::-ms-expand, .content_form select::-ms-expand, .main-banner-form select::-ms-expand, .content_form select::-ms-expand {
    display: none;
}

.main-banner-form input.error{border: 1px solid red;}
label.error{line-height: 2em;}

.main-banner-form label.error{color: white;font-family: 'ufshands',Arial,sans-serif;font-style: italic;}

.main-banner-form select.half#interest{display: inline-block;float: left;margin-right: 10px; width: 49%;}

.main-banner-form input.half{display: inline-block;float: left;width: 47%;}

.main-banner-form input[type="submit"]{background-color: #f37021; border: none; color: white;}
.main-banner-form input[type="submit"]:hover{background-color: #ff6f18;}

.main-banner-form input.error, .main-banner-form textarea.error, .main-banner-form select.error{border: 1px solid red;}
label.error{line-height: 2em;}

.main-banner-form #contact_form div{
  margin: 0 1.5em 0 0;
  padding-left: 1.5em;
}

.main-banner-form #contact_form div{
  margin: 0 1.5em 0 0;
  padding-left: 1.5em;
}

.main-banner-form #contact_form textarea{
  height: 100%;
  margin-bottom: 10px;
  max-height: 100px;
  resize: none;
  width: 100%;
}

/*Fixes strange box shadow appearing on the email field*/
input:invalid, textarea:invalid {
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-banner-form label.error{color: white;font-family: 'ufshands',Arial,sans-serif;font-style: italic;}

.main-banner-form .half.left{display: inline-block;float: left;margin-right: 10px; width: 49%;}

.main-banner-form .half.right{display: inline-block;float: left;width: 47%;}

.main-banner-form input[type="submit"]{background-color: #f37021; border: none; color: white;}
.main-banner-form input[type="submit"]:hover{background-color: #ff6f18;}


/*Content Styling*/
#content{width: 100%;}
#content-wrap article.span-23 {width: 100%;}

#content-wrap article.span-23 #menu-custom-content-menu{
font-family: ufshands, Arial, sans-serif;
font-size: 13px;
}

#content-wrap article.span-23 .content-tabs ul.menu li a{
border-bottom: 0;
padding: 0.5em 1em;
font-size: 18px;
width: 200px;
}

article .main-content ul li, article .main-content ol li{font-size: 14.5px;}

/*Home page*/
#content-wrap #content img.small-icon{float: left;margin-bottom: 0;max-width: 50px;}


/*RSS Feed styling*/
ul.wp_rss_retriever_list li.wp_rss_retriever_item{background-image: none;margin-bottom: 25px;}
ul.wp_rss_retriever_list li a.wp_rss_retriever_title{border-bottom: 1px solid #143679;font-size: 15px;}
.wp_rss_retriever_metadata {
margin: .5em 0;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

ul.wp_rss_retriever_list .wp_rss_retriever_image{
    border: 1px solid #ccc;
}

/*Thank you page*/
.page-template-template-thankyou .main-banner{min-height: 177px;position: relative;}
.page-template-template-thankyou .main-banner .apply-container{background: rgba(255,255,255,.5);bottom: 0;position: absolute;width: 100%;}
.page-template-template-thankyou .main-banner h1{padding: 10px;}
.tyinfo a h3{text-decoration: underline;}
.tyinfo{display: none;}
.tysb{display: none;}

.page-template-template-thankyou .sidebar-box{padding-top: 10px;}
.page-template-template-thankyou .main-sidebar .sidebar-box .sidebar_widget h3{margin-bottom: 10px;}
.page-template-template-thankyou .main-sidebar .sidebar-box #app_procedure{line-height: 1.5em;}

.prog_option ul{
  margin: 0;
  padding: 1.5em;
}

.prog_option h4{
    background-color: #ebeef7;
    color: #444;
    font-size: 14.5px;
    margin: 0;
    text-align: center;
    padding: 5px 20px;
}


.prog_option.col-sm-4{
  background-color: #f9fafe;
  float: left;
  margin-top: 15px;
  width: 32%;
  position: relative;
  min-height: 270px;
  padding-left: 2px;
  padding-right: 2px;
}

.prog_option.col-sm-4 ul{
  min-height: 150px;
}
.prog_option.full .app-link{
    padding: 15px;
    bottom: 0;
    display: block;
    margin: 0 auto;
}

.prog_option.full .app-link .blue-box-link.apply {
    margin-top: 0;
    width: 100%;
    padding: 10px 0;
}

@media (max-width: 899px){
  .prog_option.col-sm-4 ul{min-height: 235px;}
  .prog_option.full h4{min-height: 65px;}
}


@media (max-width: 658px){
  .prog_option.col-sm-4{float: none;margin: 0 auto;margin-bottom: 15px;width: 50%;min-width: 280px;}
  /*Prog option in full-width layout*/
  .prog_option.col-sm-4.full{width: 100%;}
  .prog_option.col-sm-4.full h4{min-height: 0;}
  .prog_option.col-sm-4.full .app-link{padding: 0;position: relative;}
  .prog_option.col-sm-4.full ul{min-height: 0;}
  .prog_option .app-link .blue-box-link.apply {
    width: 100%;
    padding: 10px 0;
}
}

/*Tables*/
.table-responsive>.table>tbody>tr>td{white-space: nowrap;}
table tr, table td, tbody{width: 100%;}
.table-responsive{overflow: visible; width: 100%;}
.table-left{text-align: left; width: 75%;}
.table-right{text-align: left; width: 25%;}

table tr:hover{background-color: #D7DEF0 !important;}

tbody tr:nth-child(even):hover td, tbody tr.even:hover td {
background: #D7DEF0 !important;
}

/*Critical Dates*/
.critical-dates.table-responsive.table>tbody>tr>td{white-space: normal;}
.critical-dates .table-left{border-right: 1px solid #CCC;text-align: left;width: 25%;}
.critical-dates .table-right, .critical-dates th.table-right{padding-left: 20px;text-align: left;width: 80%;}

/*Course Schedule Table*/
tr th{background: #D7DEF0; border-bottom: 1px solid #6377B2;}
.first-table-col{width: 15%;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.header-row{font-weight: bold;}

.nowrap{white-space: nowrap;}

.empty-last{display: none;}

/*Master's Degree Application*/
table#masters_application_info{border: 1px solid #545454;margin: 10px 0 10px 12px;}
table#masters_application_info tr{width: auto;}
table#masters_application_info tr td{width: auto;}
table#masters_application_info tr td:first-child{background-color: #ccc;}
table#masters_application_info thead tr:first-child{background-color: #F2F6FC;}


#test-scores table{text-align: left;}
#test-scores table tr{width: auto;}
#test-scores table tr td{width: auto;}


/*Toefl Table*/
.toefl-table table{max-width: 400px;text-align: left;}
.toefl-table table th, .toefl-table table td{text-align: left;}
.toefl-table table .table-left{max-width: 200px;width: 50%;}

.exam-table table{width: 100%;text-align: left;word-wrap: normal;}
.exam-table .table-responsive table thead th, .exam-table .table-responsive table thead td{text-align: left;white-space: normal; word-wrap: normal;}
.exam-table table .table-left{max-width: 200px;width: 30%;word-wrap: normal;}
.exam-table table .table-mid{max-width: 200px;width: 30%;word-wrap: normal;}
.exam-table table .table-right{max-width: 200px;width: 30%;word-wrap: normal;}

/*Faculty Table*/
table.faculty-table td{padding: 20px 10px;width: 50% !important;}

/*Faculty Page Styling*/
.page #content-wrap img.faculty-photo {
float: right;
margin-left: 20px;
 max-width: 200px;
-moz-box-shadow: 0 0 5px #CCC;
-webkit-box-shadow: 0 0 5px #CCC;
box-shadow: 0 0 5px #CCC;
padding: 5px;
border: 1px solid #CCC;
background-color: #FFF;
}


#faculty .clear{height: 0;}


/*Master's Degree Course Table*/
.table-responsive td.course{width: 15%;}
.table-responsive td.course_title{width: 100%;}
.table-responsive td.credits{max-width: 50px;text-align: center;}
.table-responsive td.semester{text-align: center;max-width: 50px;}

/*Misc tables*/
.split-table .table-left, .split-table .table-right{text-align: left; width: 50%;}


/*FAQ Accordion*/
#content .su-accordion .su-spoiler {
  margin-bottom: 0;
}

#content .su-spoiler-style-fancy, #content .su-spoiler{border: 0; border-radius: 0;}

#content .su-spoiler-style-fancy > .su-spoiler-title, #content .su-spoiler > .su-spoiler-title{
background-color: #ebeef7;
border-bottom: 2px solid #243778;
border-radius: 0;
color: #243778;font-size: 1.1em;}

#content .su-spoiler-content{background-color: #fff;border: 1px solid #ebeef7; border-radius: 0;font-size: 13.5px;}

#content .su-spoiler-closed .su-spoiler-content {border: 0; border-radius: 0;}

#content .su-spoiler-icon-plus .su-spoiler-icon:before {content: "\f0d8";}

#content .su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon:before {
content: "\f0d7";
}

/*Form tabs*/
#step_two ul{list-style-type: none;margin-bottom: 20px;}
#step_two ul li{background-image: none;}
#step_two ul li ul{border-bottom: 1px solid #ccc;}
#step_two ul li ul li:before{
    font-family: fontAwesome;
    content:"\f101";
    margin-right: 10px;
 }


/*Application form styling*/
#mandatory_form, #intent_form_ms, #completion_form, #drop_form, #concurrent_form{
width: 50%;
margin-left: 25%;
margin-top: 20px;
margin-bottom: 20px;
}

#mandatory_form input[type="text"], #mandatory_form input[type="submit"], #mandatory_form select, #intent_form_ms input[type="text"], #intent_form_ms input[type="submit"], #intent_form_ms select, #completion_form input[type="text"], #completion_form input[type="submit"], #drop_form input[type="text"], #drop_form input[type="submit"], #drop_form select, #concurrent_form input[type="text"], #concurrent_form input[type="submit"], #concurrent_form select{
margin-bottom: 10px;
width: 100%;
}

#mandatory_form input[type="submit"], #completion_form input[type="submit"], #intent_form_ms input[type="submit"], #drop_form input[type="submit"], #concurrent_form input[type="submit"]{
background-color: #f37021;
border: none;
border-radius: 0;
color: white;
font-family: 'ufshands',Arial,sans-serif;
font-size: 15px;
padding: 10px 0;
}

/*Fixes width of input text elements in IE 10 */
body[data-useragent*='MSIE 10.0'] #mandatory_form input[type="text"], body[data-useragent*='MSIE 10.0'] #completion_form input[type="text"]{width: 97%;}

#mandatory_form input[type="text"], #completion_form input[type="text"], #intent_form_ms input[type="text"], #drop_form input[type="text"], #drop_form textarea, #concurrent_form input[type="text"]{
background-color: #f8f8f8;
border: 1px solid #888;
color: #888;
font-family: 'ufshands',Arial,sans-serif;
font-size: 15px;
padding: 10px 5px;
}

#drop_form textarea{
    margin-bottom: 10px;
    width: 100%;
    resize: vertical;
}

#mandatory_form input.error, #mandatory_form select.error, #completion_form input.error, #intent_form_ms input.error, #intent_form_ms select.error, #drop_form input.error, #drop_form select.error, #drop_form textarea.error, #concurrent_form input.error, #concurrent_form select.error{border-color: #cc0000;}

#mandatory_form select, #intent_form_ms select, #drop_form select, #concurrent_form select {
background-color: #f8f8f8;
background-image: url('../images/dropdown.jpg');
background-position: 97%;
-o-background-size: 10px auto;
-webkit-background-size: 10px auto;
-moz-background-size: 10px auto;
background-size: 10px auto;
background-repeat: no-repeat;
-moz-appearance: none;
-webkit-appearance: none;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
-o-border-radius: 0px !important;
border-radius: 0px !important;
border: 1px solid #888;
color: #888;
font-family: 'ufshands',Arial,sans-serif;
font-size: 15px;
margin-bottom: 10px;
padding: 10px 5px;
width: 100%;
}

#mandatory_form ul{border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;list-style-type: none;margin-right: 0;padding-right: 1.5em;padding-top: 10px;}
#mandatory_form ul li{background-image: none; clear: both; display: inline-block; margin-bottom: 10px; width: 100%;}
#mandatory_form .checkbox{float: left; margin-top: 1px;margin-right: 10px;}
#mandatory_form ul li p{float: left;margin-bottom: 0; width: 90%;}

#mandatory_form div.radio_list p{margin-bottom: 0;}
#mandatory_form div.radio_list ul{border-top: 0;}
#mandatory_form div.radio_list ul li input[type="radio"]{margin-right: 5px;}


/* Sidebar Styling */
.main-sidebar .sidebar-box .widget_text .textwidget{}

.main-sidebar .sidebar-box .widget_text p{border-bottom: none;padding-bottom: .5em;}

.sidebar_widget ul li {
     background: url('../images/bg-sprite-li.png');
     background-repeat: no-repeat;
}

.blue-box-link {
  text-align: center;
  background-color: #333366;
  color: #FFF !important;
  font-size: 20px;
  padding: 5px 15px;
  width: 115px;
  margin-top: 1em;
  display: block;
}

.blue-box-link.apply{
    width: 100%;
    padding: 10px 0;
}



/*Event list*/
.main-sidebar .event-list .event-info h3{font-size: 15px;}
.main-sidebar .event-list .event-info .event-details, .main-sidebar .event-list .event-info .event-details p{font-size: 14.5px;}

/*Email Sidebar*/
#email-sidebar{float: right;margin-top: 15px;}
#investigator_sub input{
  border: 1px solid #C2C3C8;
  color: #888;
  font-family: "ufshands",Arial,sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px 5px;
  width: 100%;
}

#investigator_sub input.email_submit {
    background-color: #243778;
    color: #fff;
}

#investigator_sub input.email_submit:hover {
    background-color: #6377B2;
}

#investigator_sub input.error{border: 1px solid red;}


footer{background: #dfe3f2;background-image: none;}

/*Miscelaneous Styling*/
.uLine{text-decoration: underline;}
div.su-expand-link{float: right; margin-right: 10px;}
.no-border{border: 0 !important;}

.btn a, .btn a:hover, .btn a:focus {border-bottom: 0; color: white;text-decoration: none;}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #4b6bb8, #254194);
  background-image: -moz-linear-gradient(top, #4b6bb8, #254194);
  background-image: -ms-linear-gradient(top, #4b6bb8, #254194);
  background-image: -o-linear-gradient(top, #4b6bb8, #254194);
  background-image: linear-gradient(to bottom, #4b6bb8, #254194);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3em;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  min-width: 280px;
  width: 50%;
}

.sidebar_widget .btn{
    font-size: 1em;
   width: 220px;
   max-width: 220px;
    min-width: 200px;
}

.btn:hover {
  background: #254194;
  text-decoration: none;
}

/*Fixes issue with sizing tabs*/
.content-tabs ul.menu li a{margin: 0 auto;}

@media only screen and (min-width: 900px){
.content-tabs ul.menu li {width: 24.799%;}
.content-tabs ul.menu li.single_list {width: 100%;}
.content-tabs ul.menu li.single_list.double_list {width: 49.9%;}
.content-tabs ul.menu li.single_list.double_list.triple_list {width: 33.25%;}
.content-tabs ul.menu li.single_list.double_list.triple_list.quad_list {width: 24.799%;}
}

/* Responsive Form Styling */
@media (max-width: 899px){

#whole_page .main-banner{background-position: top left;}
#whole_page .main-banner div.container .main-banner-meta{height: 45%; margin-left: 0;position: relative;}
#whole_page .main-banner div.container .main-banner-meta h1{bottom: 0; position: absolute;}
#whole_page .main-banner div.container .main-banner-meta div{display: none;}

.main-banner .main-banner-meta h1{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.main-banner-form select.half#interest{display: inline-block;float: left;margin-right: 10px; width: 100%;}

.main-banner-form input.half{display: inline-block;float: left;width: 100%;}

.main-banner .main-banner-meta h1 {font-size: 2em;}

#content-wrap article.span-23 .content-tabs ul.menu li a{width: 100%;}

}

@media (max-width: 600px){

#content-wrap div#faculty img{max-width: 112px;}

.main-content{padding: 0 20px;}

#mandatory_form, #completion_form {
width: 86%;
margin-right: 0;
margin-left: 0;
margin-top: 20px;
margin-bottom: 20px;
padding: 0 20px;
}


#mandatory_form input, #completion_form input{
    display: block;
    margin-bottom: 0 !important;
    }

 .nowrap{white-space: normal !important;}


}

/* Smartphones----------- */
@media (max-width: 480px) {
.main-banner .main-banner-meta h1 {
    font-size: 1.3em;
}}

@media (max-width: 540px) {

.page #content-wrap img.faculty-photo{float: none; margin: 0 0 0 0;}
.table-responsive>.table>tbody>tr>td{white-space: normal;}
}
